body {
  font-family: Helvetica;
  margin: 0;

}

header {
  text-align: center;
  background-color: #C9082A;
  color: white;

}
img {
max-width: 100%;
max-height: 100%;

}
h1 {
  margin: auto;
}
.site {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 6vh auto 5vh;
  grid-template-areas:
    'header      header  header'
    'logo-left   main    logo-rigth'
    'footer      footer  footer';
  min-height: 100vh;
}

.site-header {

grid-area: header;
display: flex;
align-items: center;

}

.site-main {
  grid-area: main;


}

.site-footer {
grid-area: footer;
background-color: #C9082A;
text-align: center;

}

.site-logo-left {
grid-area: logo-left;

}

.site-logo-right {
grid-area: logo-right;

}

.information table {
  border:  5px solid blue;

}
