body {
  font-family: Arial;
  margin: 0;
}

header {
  text-align: center;
  background-color: rgb(10, 10, 11);
  color: white;
}
/*rgb(46, 109, 175)*/
img {
  max-width: 100%;
  max-height: 100%;
  margin-top: 20%;
}

h1 {
  margin: auto;
}

h2 {
  text-align: center;
  margin-bottom: 0;
}

a {
  color: white;
  font-family: Arial;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
   cursor: pointer;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 6vh auto 5vh;
  grid-template-areas:
    'header      header  header'
    'logo-left   main    logo-rigth'
    'footer      footer  footer';
  min-height: 100vh;
}

.site-header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;

}

.site nav {
  width: 100%;
}


.site-nav ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;


}
.site-nav ul li {

  margin-left: 5rem;
  margin-right: 5rem;
  align-items: center;
  font-weight: bold;


}

.site-main {
  grid-area: main;
  margin-right: 100px;
}

.site-footer {
  grid-area: footer;
  background-color: rgb(10, 10, 11);
  text-align: center;
  color: white;
  font-weight: bold;

}


.site-logo-left {
  grid-area: logo-left;
}

.site-logo-right {
  grid-area: logo-right;

}

/* Ranking table CSS */
.site-table-ranking {
  border-collapse: collapse;
  margin: 25px;
  width: 500px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.site-table-ranking thead tr {
  background-color: #C9082A;
  color: white;
  text-align: left;
  font-weight: bold;
}

.site-table-ranking th, .site-table-ranking td {
  padding: 12px 15px;
  text-align: center;
}

.site-table-ranking tbody tr {
  border-bottom: 1px solid #dddddd;
}
/* ranking table end */
/* Resultados del dia table CSS */
.site-table-rday {
  border-collapse: collapse;
  margin: 25px;
  width: 500px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.site-table-rday thead tr {
  background-color: #C9082A;
  color: white;
  text-align: left;
  font-weight: bold;
}
.site-table-rday th, .site-table-rday td {
  padding: 12px 15px;
  text-align: center;
}

.site-table-rday tbody tr {
  border-bottom: 1px solid #dddddd;
}
/* resultados del dia table end */

/* partidos del dia table */

.site-table-gamedays {
  border-collapse: collapse;
  margin: 25px;
  width: 500px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.site-table-gamedays thead tr {
  background-color: #C9082A;
  color: white;
  text-align: left;
  font-weight: bold;
}
.site-table-gamedays th, .site-table-gamedays td {
  padding: 12px 15px;
  text-align: center;
}

.site-table-gamedays tbody tr {
  border-bottom: 1px solid #dddddd;
}
/* partidos del dia end */

/*rules*/


/* table rules */

.table-points {
  border-collapse: collapse;
  margin: 25px;
  width: 500px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table-points thead tr {
  background-color: #C9082A;
  color: white;
  text-align: left;
  font-weight: bold;
}
.table-points th, .table-points td {
  padding: 12px 15px;
  text-align: center;
}

.table-points tbody tr {
  border-bottom: 1px solid #dddddd;
}


/*rules end*/
